/*configuración básica de css basado en Zen*/

body {
font-family: "Calibri","Trebuchet MS","Helvetica","Arial","Verdana";
background-color:#454545;
color:#575757;
font-size:90%;
}

#page {
background-color: #fff;
padding:0em 10px; /*padding de 10px a ambos lados*/
}

#page-wrapper, .region-page-closure {
margin-left: auto;
margin-right: auto;
width: 900px;
}


#header {
background:url('../images/banner-plataforma-web.jpg') no-repeat;
height:220px;
}

#content, .no-sidebars #content {
float: left;
margin-left: 0px;
margin-right: -880px; /* se resta 10px por lado, 20 px en total */
width: 880px;  /* se resta 10px por lado, 20 px en total */
}

/*bloque de centrado*/

/*
#block-user-0 {
margin-top:1em;
margin-left:360px;
width:300px;
}
*/

/*menu superior*/
#navigation {
background-color:#53207C;
height:30px;
}

#navigation ul#main-menu {
margin-top:8px;
margin-left:10px;
}

#navigation ul li a {
color: #fff;
text-decoration:none;
}

/*buscador*/
#search-box {
width:200px;
float:right;
}

/*menu personalizado para usuario*/
#block-menu-menu-mi-menu {
float:right;
}

/*logos de la parte inferior*/

.view-logos .view-content .views-row {
float:left;
padding-left:1em;
}
