/* Content area*/
#content-area{
padding: 10px 10px 10px 10px;
}

#content div.section h1{
padding:10px 0 10px 0;
}
#content-area div.content{
padding-bottom:30px;
}


/* Nodos */
div.content div.field{
padding-top:10px;
}


/* Experiencias */

div.content div.field-field-exper-ambito{
padding-top:10px;
}

div.content div.field-field-localizacion{
width:400px;
float:left;
padding-right:10px;
}

div.node-type-experiencias div.content div.field-field-localizacion{
float:left;
padding-right:10px;
}

div.node-type-experiencias div.content div.field-field-exper-ambito{
clear:both;
}

div.node-type-experiencias div.content div.field-field-exper-nombres div.field-label{
float:left;
}

div.node-type-experiencias div.content div.field-field-exper-cargos div.field-label{
float:left;
}

div.node-type-experiencias div.content div.field-field-exper-direccion div.field-label{
float:left;
}


div.node-type-experiencias div.content div.field-field-exper-direccion-elect div.field-label{
float:left;
}

div.node-type-experiencias div.content div.field-field-exper-telefono div.field-label{
float:left;
}

div.node-type-experiencias div.content div.field-field-exper-skype div.field-label{
float:left;
}

div.node-type-experiencias div.content fieldset legend{
font-weight:bold;
}
/* País */

div.node-type-experiencias div.content div.field-field-taxonomy-pais div.field-label{
float:left;
}

div.node-type-experiencias div.content div.field-field-taxonomy-pais{
clear:right;
}

/* Fecah de inicio*/
div.node-type-experiencias div.content div.field-field-inicio div.field-label{
float:left;
}

div.node-type-experiencias div.content div.field-field-inicio{
clear:right;
}

/* Etapas */
div.node-type-experiencias div.content div.field-field-exper-etapas div.field-label{
float:left;
}

div.node-type-experiencias div.content div.field-field-exper-etapas div.field-item{
padding-left:15px;
float:left;
}
/* Camino */

div.node-type-experiencias div.content div.field-field-camino div.field-label{
float:left;
}

div.node-type-experiencias div.content div.field-field-camino div.field-item{
padding-left:15px;
float:left;
}

div.node-type-experiencias div.content div.field-field-camino{
clear:both;
}

/* Instituciones */
div.node-type-experiencias div.content div.field-field-exper-instituciones div.field-label{
float:left;
}

div.node-type-experiencias div.content div.field-field-exper-instituciones div.field-item{
padding-left:15px;
float:left;
}

div.node-type-experiencias div.content div.field-field-exper-instituciones{
clear:both;
}


/* Caminantes */

div.node-type-usuarios div.content div.field-field-usuario-foto{
float:left;
padding-right:10px;
}
/*
div.content fieldset{
clear:left;
margin-top:50px;
}*/



div.node-type-usuarios div.content div.field-field-taxonomy-pais{
clear:both;
}

div.node-type-recursos div.content fieldset{
clear:both;
margin-top:20px;
padding-bottom:2%;
}

div.node-type-recursos div.content fieldset div.field-label{
font-family:"Calibri","Trebuchet MS","Helvetica","Arial","Verdana";
}

/* Experiencia */

div.node-type-experiencias div.content fieldset{
clear:both;
margin-top:20px;
padding-bottom:2%;
}
div.node-type-experiencias div.content fieldset div.field-label{
font-family:"Calibri","Trebuchet MS","Helvetica","Arial","Verdana";
}

/* Filesets Usuarios*/
div.node-type-usuarios div.content fieldset{
clear:both;
margin-top:16%;
padding-bottom:2%;
}

div.node-type-usuarios div.content fieldset legend{
font-weight:bold;
}

div.node-type-usuarios div.content fieldset div.field-label{
font-family:"Calibri","Trebuchet MS","Helvetica","Arial","Verdana";
}

/* Perfil / Usuarios */

div.node-type-usuarios div.content div.field-field-usuario-nombre div.field-label{
float:left;
}

div.node-type-usuarios div.content div.field-field-usuario-apellidos div.field-label{
float:left;
}

div.node-type-usuarios div.content div.field-field-taxonomy-pais div.field-label{
float:left;
}

div.node-type-usuarios div.content div.field-field-usuario-ciudad div.field-label{
float:left;
}

div.node-type-usuarios div.content div.field-field-usuario-direc div.field-label{
float:left;
}



/* Organización ----------------------------------*/
div.node-type-usuarios div.content div.field-field-usuario-organizacion div.field-label{
float:left;
}


div.node-type-usuarios div.content div.field-field-usuario-organizacion{
clear:right;
}

/* Cargo ----------------------------------*/
div.node-type-usuarios div.content div.field-field-usuario-cargo div.field-label{
float:left;
}

div.node-type-usuarios div.content div.field-field-usuario-cargo{
clear:right;
}


/* Telefonos ----------------------------------*/
div.node-type-usuarios div.content div.field-field-usuario-telefonos div.field-label{
float:left;
}

div.node-type-usuarios div.content div.field-field-usuario-telefonos div.field-item{
padding-left:10px;
float:left;
}

div.node-type-usuarios div.content div.field-field-usuario-telefonos{
clear:both;
}

/* Emails   ----------------------------------*/
div.node-type-usuarios div.content div.field-field-usuario-emails div.field-label{
float:left;
}

div.node-type-usuarios div.content div.field-field-usuario-emails div.field-item{
padding-left:10px;
float:left;
}

div.node-type-usuarios div.content div.field-field-usuario-emails{
clear:both;
}

/* Webs   ----------------------------------*/

div.node-type-usuarios div.content div.field-field-usuario-webs div.field-label{
float:left;
}

div.node-type-usuarios div.content div.field-field-usuario-webs div.field-item{
padding-left:10px;
float:left;
}

div.node-type-usuarios div.content div.field-field-usuario-webs{
clear:both;
}

/* Faxes   ----------------------------------*/

div.node-type-usuarios div.content div.field-field-usuario-faxes div.field-label{
float:left;
}

div.node-type-usuarios div.content div.field-field-usuario-faxes div.field-item{
padding-left:10px;
float:left;
}

div.node-type-usuarios div.content div.field-field-usuario-faxes{
clear:both;
}

/* Contribuciones */

div.node-type-recursos div.content div.field-field-recursos-video{
float:left;
padding-right:10px;
}
div.node-type-recursos div.content div.field-field-imagenes{
float:left;
padding-right:10px;
}
div.node-type-recursos div.content div.field-field-recursos-etapa{
padding-top:10px;
clear:both;
}

div.node-type-recursos div.content div.field-field-taxonomy-tipo-recursos div.field-label{
float:left;
}

div.node-type-recursos div.content div.field-field-taxonomy-tipo-recursos div.field-items{
float:left;
}

.field .field-label{
margin:0 0;
font-size:12px;
}

div.node-type-recursos div.content div.field-field-recursos-apellidos div.field-label{
float:left;
}

div.node-type-recursos div.content div.field-field-recurso-anoedicion div.field-label{
float:left;
}

div.node-type-recursos div.content div.field-field-taxonomy-pais div.field-label{
float:left;
}

div.node-type-recursos div.content div.field-field-taxonomy-pais {
clear:both;
}
/* Camino */
div.node-type-recursos div.content div.field-field-recursos-camino div.field-label{
float:left;
}

/* Experiencia */
div.node-type-recursos div.content div.field-field-recursos-experiencias div.field-label{
float:left;
}

div.node-type-recursos div.content div.field-field-recursos-experiencias div.field-item{
padding-left:10px;
float:left;
}
/* Fuente */
div.node-type-recursos div.content div.field-field-recursos-editorial{
clear:both
}

/* Etapa */
div.node-type-recursos div.content div.field-field-recursos-etapa div.field-label{
float:left;
}

div.node-type-recursos div.content div.field-field-recursos-etapa div.field-item{
padding-left:10px;
float:left;
}




/* Fuente */
div.node-type-recursos div.content div.field-field-recursos-editorial{
clear:both
}




/* Fuente */
div.node-type-recursos div.content div.field-field-recursos-fuente div.field-label{
float:left;
}

div.node-type-recursos div.content div.field-field-recursos-editorial div.field-label{
float:left;
}

div.node-type-recursos div.content div.field-field-recursos-nombres div.field-label{
float:left;
}




