body {
font-family: "Calibri","Trebuchet MS","Helvetica","Arial","Verdana";
background-color:#454545;
color:#575757;
font-size:90%;
}

/* Menu principal */

#navigation {
height:35px;
background-color:#54217D;
margin-left:-1em;
width:900px;
}


/* Formularios */
.node-form .text {
width:90%;
}

h1.title{
/*padding-left:20px;*/
}




#navigation ul {
text-align:left;
padding-left:20px;
font-size:12px;
background-color:#54217D;
}


#navigation li a {
display:block;
font-size:13px;
font-weight:normal;
/*margin:-2px;*/
padding:10px 1px 10px;
text-decoration:none;
}

#navigation li {
/*width:80px;*/
text-align:center;
padding-left:15px;
padding-right:15px;
}

div.tabs ul.primary {
background:url("../images/tab-bar.png") repeat-x scroll left bottom transparent;
border-width:0;
line-height:normal;
list-style:none outside none;
margin:0;
padding:15px 0 0 10px;
white-space:nowrap;
}

li a.active{
/*background: url("images/bg-li2.gif") repeat-x scroll center top transparent;*/
color:#FFFFFF;
}

li a:hover{
/*background: url("../images/bg-li2.gif") repeat-x scroll center midlle transparent;*/
color:#fff;
}




/* Content*/

#main #content .section .breadcrumb {
margin-top:1em;
}

#logo img {
vertical-align:bottom;
padding-left:5%;
}



#page {
background-color: white;
width:900px;
overflow:hidden;
}

.page-front #block-user-0 {
width: 300px;
margin:0 auto;
}

#content-area{
width:900px;
/*padding-left:15px;*/
}

#content-area div.node-form{

padding-left:20px;
}

#main {
padding:0em 1em;
}

#content .section {
width:900px;
}

#header {
width:900px;
padding-top:10px;

}

a:link{
color:#FF6600;
text-decoration:none;
}

a:visited{
color:#FF6600;
text-decoration:none;
}

#header .section {
width:900px;
padding-bottom:10px;
}

#page-wrapper, .region-page-closure {
margin-left:auto;
margin-right:auto;
width:900px;
}


/*
div.view-slideshow div.views-field-field-imagenes-fid span.field-content img{
float:left;
}*/

div.panels-flexible-row-inside{
padding-left:20px;
padding-right:20px;
}
div.panels-flexible-row-homepage-7 {
padding-top:20px;
}
div.panels-flexible-row-homepage-6{
padding-top:0px;
}


/* Panel Slideshow y pizarra*/

div.view-slideshow{
padding-top:5px;
}

.block ul, .item-list ul {
margin:0;
}
div.view-slideshow div.view-content{
font-size:12px;
}
div.view-slideshow div.view-content p{
margin-top:5px;
}

div.view-slideshow div.view-content div.views-field-title{
padding-top:3px;
}


div.pane-views-slideshow-block-2 h2{
padding-left:20px;
}

div.view-slideshow div.views-field-title{
color:#FF6600;
padding-left:5px;
}

div.view-slideshow p{
padding-left:5px;
}

div.view-slideshow div.views-field-field-pizarra-enlace-value div.field-content{
padding-left:5px;

}

div.view-slideshow div.view-content li{
background-color:#FFF8A8;
}

div.view-recursos-pestanas a:hover {
color:#333;
}




/* Pestañas inferiores y logo*/

div.panels-flexible-region-inside-last div.pane-content img{
padding-left: 30%;
}

div.view-recursos-pestanas div.view-content ul{
padding-top:10px;
padding-bottom:40px;
}
div.view-recursos-pestanas div.view-content li{
padding-top:7px;
}

/* Nodos */
#main div.tabs{
padding-left:20px;
}

#main div.node{
padding-left:20px;
padding-right:20px;
}

.content-center-block {
position:relative;
left:350px;
margin-top:2em;
}

.content-center-block #user-login-form .item-list ul {
list-style-type: none;
padding-left:0px;
}

#footer {
background: url('../images/pie-plataforma-web.jpg');
height:96px;
}

#header {
background: url('../images/banner-plataforma-web.jpg') no-repeat;
height:220px;
}

#search-box {
float:right;
margin-right:1em;
}

.node-type-page .field-field-imagenes {
float:left;
padding-right:1em;
}

.view-users .views-field-field-usuario-foto-fid {
float:left;
padding-right:1em;
}

.view-users .views-row {
clear:both;
margin: 0em 0em 1em 1em;
}

#main .section h1.title {
font-size:1.5em;
color:#54217D;
}

#block-system-0 {
display:none;
}


.view-slideshow .item-list ul {
list-style-type:none;
}

.field-field-usuario-foto {
float: left;
padding-right:1em;
padding-bottom: 1em;
}

.pane-views-logos-block-1 .view-display-id-block_1 .views-row {
display:inline;
float:left;
}

.pane-views-logos-block-1 .view-display-id-block_1 .views-row img {
padding-left: 0px;
}

.panels-flexible-row-homepage-8-inside {
padding-left:0px !important;
padding-right:0px !important;
border-top: solid 1px #222222;
padding-top: 1em;
padding-bottom:1em;
margin-left: -1em;
}

#descripcion-slide {
width:480px;
position:absolute;
top:0;
padding-top:425px;
}

#descripcion-text {
opacity: 0.7;
background-color:black;
color:white;
}
