body {
font-family: "Calibri","Trebuchet MS","Helvetica","Arial","Verdana";
background-color:#454545;
color:#575757;
font-size:90%;
}

#page {
background-color: #fff;
padding:0em 10px; /*padding de 10px a ambos lados*/
}

#page-wrapper, .region-page-closure {
margin-left: auto;
margin-right: auto;
width: 900px;
}


#header {
background:url('../images/banner-plataforma-web.jpg') no-repeat;
height:220px;
}

#content, .no-sidebars #content {
float: left;
margin-left: 0px;
margin-right: -880px; /* se resta 10px por lado, 20 px en total */
width: 880px;  /* se resta 10px por lado, 20 px en total */
}


