#main-wrapper .pane-slideshow .view-slideshow  .view-content {

}

#main-wrapper .pane-slideshow .view-slideshow  .view-content .views-field-title a {
text-decoration:none;
font-size:1.2em;
}

#main-wrapper .pane-slideshow .view-slideshow  .view-content .views-field-phpcode-1 #descripcion-text h6 a {
text-decoration:none;
color:#fff;
}

#player {
text-align:center;
}

#descripcion-text {
background-color:black;
opacity:0.5;
color:#fff;
padding:0.2em 1em 1em;
}
